bin
obj
packages
x64
.vs
*.csproj.user
*.suo
/logs
*/*Secrets.config
/EDDiscovery.v12.suo
*.ncrunch*
/test
Thumbs.db
#Visual Studio 2015r2+ IntelliSense SQLite db and lockfile
/EDDiscovery.VC.db
/EDDiscovery.VC.VC.opendb
*/Properties/ExtraVersion.cs
appdata
